@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Montsserat', sans-serif;
}

.container{
    margin-top: 5%;
    margin-left: 10%;
}

.header{
    font-family: 'Montsserat', sans-serif;
    color: black;
    margin-left: 1px;
}

fieldset{
    border:0;
}

body{
    background-color: aliceblue;
    font-family: 'Montsserat', sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 10%;
    margin-top:2%;
    justify-content: center;
    margin-bottom: 100px;
}

input, textarea, button{
    border-radius: 5px;
}

.container-form{
    max-width: 600px;
    width: 100%;
    margin-left: 2%;
}

.position-inputs {
    width: 800px; /* Ajuste para o valor que você deseja */
    margin: 0 auto; /* Centraliza a div na página */
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box, 
.box-vol {
    flex: 0 0 45%; /* Isso significa que cada box terá 45% da largura total, permitindo que dois caibam em uma linha com um pequeno espaço entre eles */
    margin-bottom: 20px; /* Isso adiciona um espaço abaixo de cada box para separar as linhas */
    display: flex;
    flex-direction: column;
}

.description{
    display:flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.box input,
.box-vol input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf
}

.box label sup{
    font-size: 12px;
    color:red;
}

.error-message {
    padding: 1%;
    color: red;
    height: 20px;
}


.options{
    margin-top: 8px;
}

.options label{
    margin-right: 8px;
}

.options input{
    margin-right: 2px;
}

.products {
    display: flex;
    margin-top: 5px;
}

.column {
    flex-direction: column;
    flex: 10; /* Isso faz com que cada coluna ocupe espaço igualmente */
    margin-top: 8px;
}


.product-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.box-vol{
    margin-top: 5px;
    margin-left: 1px;
}

.box-vol input{
    width: 150px;
}

.product-item label {
    margin-right: 6px;
}

.input-group {
    display: flex;
    width: 33.33%;
}


.input-group button{
    display: block;
    text-decoration: none;
    border: none;
    padding: 10%;
}

.description textarea{
    width: 300px;
    height: 150px;
    resize: none;
    display: block;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf
}

.description-item-label{
    margin-bottom: 4px;
}

.bigColumn {
    display: flex;
    flex-wrap: wrap; /* Permite a quebra de linha quando necessário */
    justify-content: space-between; /* Adiciona espaço entre as colunas */
}

.column {
    flex-direction: column;
    flex: 0 0 30%; /* Ajuste o valor conforme necessário */
    margin-top: 8px;
    box-sizing: border-box; /* Garante que a largura especificada inclui as bordas e o preenchimento */
}

.obs{
    margin-top: 12px;
    display:flex;
    flex-direction: column;
    clear: both;
}

.obs textarea{
    width: 600px;
    height: 75px;
    resize: none;
    display: block;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf
}

.obs-item-label{
    margin-bottom: 4px;
}

fieldset p{
    margin-top: 16px;
}

#agreementField{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.agreement-options label{
    margin-right: 8px;
}

.agreement-options input{
    margin-right: 2px;
}

.submit-button{
    margin-top: 24px;
}